# Python
__pycache__/
*.pyc
*.pyo
venv/
*.env
.env

# Django
*.sqlite3
media/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/
*.DS_Store

# Data / Datasets
backend/data/
!data/dataset_2.xlsx
!docs/database/schema.sql